@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Noto:wght@400&family=Ubuntu:wght@400;500;700&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Overpass";
	overflow-x: hidden;
	color: hsl(207, 13%, 34%);
}

[hidden] {
	display: none;
}

h1 {
	font-size: 2rem;
	font-family: "Ubuntu";
}
h2 {
	font-size: 1.5rem;
	font-family: "Ubuntu";
}
h3 {
	font-size: 1.17rem;
	font-family: "Ubuntu";
}
h4 {
	font-size: 1rem;
	font-family: "Ubuntu";
}
h5 {
	font-size: 0.83rem;
	font-family: "Ubuntu";
}
h6 {
	font-size: 0.67rem;
	font-family: "Ubuntu";
}

h1 {
	margin: 0.67em 0;
}

pre {
	white-space: pre-wrap;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

picture {
	display: contents;
}
source {
	display: none;
}
svg {
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

.flex {
	display: flex;
}

header {
	background-image: url("./images/bg-pattern-intro-desktop.svg"),
		linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-radius: 0 0 0 6rem;
	padding-bottom: 100px;
	width: 100%;
}

/* Navigation */

nav {
	justify-content: center;
}

.logo {
	margin: 20px 60px;
	height: 40px;
}

ul li {
	list-style-type: none;
}

nav ul {
	padding: 10px;
}

.nav-header,
nav ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
}

.product-modal ul {
	position: relative;
}

.company-modal ul {
	position: relative;
}

.connect-modal ul {
	position: relative;
}

.modal {
	position: absolute;
	top: 5px;
	left: -65px;
}

.modal li {
	background-color: #eee;
	padding: 5px;
}
.modal a {
	color: #000;
	padding: 15px;
}

.nav-header:hover {
	text-decoration: underline;
}

.product-modal a:hover,
.company-modal a:hover,
.connect-modal a:hover,
.product-modal a:focus,
.company-modal a:focus,
.connect-modal a:focus {
	font-weight: bold;
	cursor: pointer;
}

.product-modal img {
	margin: 5px 5px 0 5px;
}

.company-modal img {
	margin: 5px 5px 0 5px;
}

.connect-modal img {
	margin: 5px 5px 0 5px;
}

.product-modal {
	visibility: hidden;
}

.company-modal {
	visibility: hidden;
}

.connect-modal {
	visibility: hidden;
}

.nav-icon {
	width: 10px;
}

.btn {
	text-decoration: none;
	padding: 7.5px 15px 5px;
	border-radius: 25px;
	height: 20px;
	color: #000;
}

.login-btn,
.learn-btn {
	color: #eee;
	font-weight: 600;
}

.login-btn:hover,
.login-btn:focus,
.learn-btn:hover,
.learn-btn:focus {
	background-color: white;
	color: hsl(353, 100%, 62%);
}

.white-btn {
	margin-inline: 10px;
	background-color: #eee;
	color: hsl(353, 100%, 62%);
	font-weight: bold;
}

.white-btn:hover,
.white-btn:focus {
	background-color: transparent;
	color: white;
	outline: 1px solid white;
}

.nav-containers {
	display: flex;
	flex-wrap: wrap;

	padding-top: 10px;
}

.nav-container-btn {
	margin: 30px 3vw;
	min-width: 182px;
}

.menu-icon {
	display: none;
}

/* Intro */

.intro h1,
.intro p {
	text-align: center;
	color: #eee;
}

.intro h1 {
	font-size: 3rem;
	margin: 0.5rem;
}

.intro p {
	margin-top: 0;
	padding-bottom: 30px;
}

.intro-btns {
	margin: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.learn-btn {
	border: 1px solid white;
}

/* Section 2 */

.section-2 {
	position: relative;
	margin-bottom: 60px;
	z-index: 1;
}

.section-2 h2 {
	text-align: center;
	font-size: 2rem;
	padding-top: 30px;
}

.section-2-text {
	width: 40vw;
	margin: 2rem 6rem;
}

.section-2-img {
	width: 45vw;
}

.section-2-img {
	position: absolute;
	width: 40rem;
	right: -100px;
	top: -140px;
	height: 500px;
}

/* Section 3 */

.section-3 {
	display: flex;
	background: url("./images/bg-pattern-circles.svg") no-repeat top 62% left
			calc(40vw - 82rem),
		linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
	background-size: 100rem, 100%;
	height: 420px;
	border-radius: 0 6rem 0 6rem;
	z-index: 1;
}

.phones {
	width: 45vw;
	margin: 0 auto;
}

.section-3-text {
	max-width: 500px;
}

.section-3-text h2 {
	font-size: 2rem;
	color: #eee;
}

.section-3-text {
	color: #eee;
	margin-right: 3rem;
	margin-left: min(5vw, 10rem);
}

/* Section 4 */

.section-4-text {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 50vw;
}

.section-4-img {
	margin-left: -200px;
}

/* footer */

.footer {
	padding-top: 30px;
	background-color: hsl(240, 10%, 16%);
	border-radius: 0 6rem 0 0;
}

.footer-all {
	justify-content: center;
}

.footer-img {
	margin-top: 15px;
}

.footer a {
	color: #eee;
}

.footer ul li a {
	text-decoration: none;
	color: hsl(240, 2%, 79%);
}

.footer ul li a:hover,
.footer ul li a:focus {
	text-decoration: underline;
}

.footer-group {
	margin-inline: 6vw;
}

.footer-header {
	padding-left: 40px;
	margin-bottom: 20px;
}

.footer-list li {
	padding-block: 5px;
}

@media (max-width: 1075px) {
	.nav-container-btn {
		margin: 30px auto;
	}
}

@media (max-width: 850px) {
	.logo {
		margin: 20px 20px;
	}
}

@media (max-width: 650px) {
	.nav-containers {
		flex-direction: column;
	}

	.mobile-menu {
		display: flex;
		position: relative;
	}
	.menu-icon {
		display: inline;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#primary-navigation {
		display: none;
	}

	.section-2 {
		display: flex;
		flex-direction: column;
	}

	.section-2-text {
		margin-top: 450px;
		width: 75vw;
	}

	.section-3 {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.section-3-text {
		margin-left: 12vw;
	}

	.section-4 {
		margin-block: 30px;
	}

	.section-4-img {
		width: 75%;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

	.footer-list {
	}

	.footer-img {
		width: 100px;
		display: inline;
	}
}
