@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Noto:wght@400&family=Ubuntu:wght@400;500;700&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Overpass";
	overflow-x: hidden;
}

[hidden] {
	display: none;
}

h1 {
	font-size: 2rem;
	font-family: "Ubuntu";
}
h2 {
	font-size: 1.5rem;
	font-family: "Ubuntu";
}
h3 {
	font-size: 1.17rem;
	font-family: "Ubuntu";
}
h4 {
	font-size: 1rem;
	font-family: "Ubuntu";
}
h5 {
	font-size: 0.83rem;
	font-family: "Ubuntu";
}
h6 {
	font-size: 0.67rem;
	font-family: "Ubuntu";
}

h1 {
	margin: 0.67em 0;
}

pre {
	white-space: pre-wrap;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

picture {
	display: contents;
}
source {
	display: none;
}
svg {
	overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

.flex {
	display: flex;
}

header {
	background-image: url("./images/bg-pattern-intro-desktop.svg"),
		linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-radius: 0 0 0 6rem;
	padding-bottom: 30px;
	height: 100%;
}

.logo {
	margin: 20px 60px;
	height: 40px;
}

ul li {
	list-style-type: none;
}

nav ul {
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #eee;
}

/* --------------------------------- */
/* Add in the disappearing nav boxes */
/* --------------------------------- */

.product-modal ul {
	/* display: none; */
	position: relative;
}

.company-modal ul {
	/* display: none; */
	position: relative;
}

.connect-modal ul {
	/* display: none; */
	position: relative;
}

.modal {
	position: absolute;
	top: 5px;
	left: -65px;
}

.modal li {
	background-color: #eee;
	padding: 5px;
}
.modal a {
	color: #000;
	padding: 15px;
}

.nav-header:hover {
	text-decoration: underline;
}

.product-modal a:hover,
.company-modal a:hover,
.connect-modal a:hover,
.product-modal a:focus,
.company-modal a:focus,
.connect-modal a:focus {
	font-weight: bold;
	cursor: pointer;
}

.product-modal img {
	margin: 5px 15px 0 5px;
}

.company-modal img {
	margin: 5px 15px 0 5px;
}

.connect-modal img {
	margin: 5px 15px 0 5px;
}

/* .nav-header:hover .nav-inner:hover {
	display: flex;
} */

.btn {
	text-decoration: none;
	padding: 5px 15px;

	border-radius: 25px;
	height: 20px;
	color: #000;
}

.login-btn,
.learn-btn {
	color: #eee;
	font-weight: 600;
}

.white-btn {
	margin-inline: 10px;
	background-color: #eee;
	color: hsl(353, 100%, 62%);
	font-weight: bold;
}

.nav-containers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-container {
}

.nav-container-btn {
	margin: 20px 20px;
}

@media (max-width: 850px) {
	nav ul {
		padding: 0;
		margin: 0;
	}
	.logo {
		margin: 20px 20px;
	}
}

@media (max-width: 650px) {
	.nav-containers {
		flex-direction: column;
	}
}

/* 
- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%) */

/* Intro */

.intro h1,
.intro p {
	text-align: center;
	color: #eee;
}

.intro h1 {
	font-size: 3rem;
	margin: 0.5rem;
}

.intro p {
	margin-top: 0;
	padding-bottom: 30px;
}

.intro-btns {
	margin: 20px;
	text-align: center;
	margin-bottom: 30px;
	/* center text vertically */
}

.learn-btn {
	border: 1px solid white;
}

/* Section 2 */

.section-2 {
	position: relative;
	margin-bottom: 60px;
}

.section-2 h2 {
	text-align: center;
	font-size: 2rem;
	padding-top: 30px;
}

.section-2-text {
	width: 45vw;
	margin: 20px 40px;
}

.section-2-img {
	width: 45vw;
}

.section-2-img {
	position: absolute;
	width: 50vw;
	right: -100px;
	top: -100px;
	height: 500px;
}

/* Section 3 */

.section-3 {
	display: grid;
	grid-template-areas:
		"phones"
		"text";
	margin-block: auto;
	position: relative;
	background-image: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
	height: 30vw;
	border-radius: 0 6rem 0 6rem;
}

/* .mobile_circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.mobile_circles img {
	width: 60%;
	position: absolute;
	top: -120%;
	left: -10%;
	z-index: -1;
} */
.phones {
	width: 40%;
	grid-area: phones;
	position: absolute;
	top: -50px;
	left: 5vw;
	z-index: 99;
}

.section-3-text {
	grid-area: text;
	padding-block: auto;
	margin-left: 50%;
	justify-content: center;
	align-items: center;
	width: 45vw;
}

.section-3-text h2 {
	font-size: 2rem;
	color: #eee;
}

.section-3-text p {
	color: #eee;
}

/* Section 4 */

.section-4-text {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 50vw;
}

.section-4-img {
	margin-left: -200px;
}

/* footer */

.footer {
	background-color: black;
	border-radius: 0 6rem 0 0;
}

.footer-all {
	justify-content: center;
}

.footer-img {
	margin-top: 15px;
}

.footer a {
	color: #eee;
}

.footer ul li a {
	text-decoration: none;
}

.footer ul li a:hover,
.footer ul li a:focus {
	text-decoration: underline;
}

.footer-group {
	margin-inline: 6vw;
}

.footer-header {
	padding-left: 40px;
	margin-bottom: 20px;
}

.footer-list li {
	padding-block: 5px;
}
